# Predicting Credit Approval with Machine Learning

Notebook Author: Matthew D. Kearns


<img src='img/credit-card.png' alt="Credit Card" height="100" width="200" align=left>

Using a Support Vector Machine (SVM) classifier to predict approval for a credit card.

Notebook Contents:

   -  [Load Cleaned Data](#data)
   - [Initialize SVM Model](#model)
   - [Train SVM Model on Data](#train)
   - [Use Cross-Validation (CV) to Select Model Parameters](#cv)
   - [Report Accuracy](#report)

In [4]:
# imports
import pandas as pd
import numpy as np
from sklearn import svm

##### Load Cleaned Data
<a id='data'></a>

In [25]:
df = pd.read_csv('./customer-data/clean.csv')
df = df.iloc[:,1:] # drop first row of index values
df.head()

,1,2,7,10,13,14,0_a,0_b,3_l,3_u,...,8_f,8_t,9_f,9_t,11_f,11_t,12_g,12_p,12_s,15_+
0,30.83,0.000,1.25,1,202,0,0,1,0,1,...,0,1,0,1,1,0,1,0,0,1
1,58.67,4.460,3.04,6,43,560,1,0,0,1,...,0,1,0,1,1,0,1,0,0,1
2,24.50,0.500,1.50,0,280,824,1,0,0,1,...,0,1,1,0,1,0,1,0,0,1
3,27.83,1.540,3.75,5,100,3,0,1,0,1,...,0,1,0,1,0,1,1,0,0,1
4,20.17,5.625,1.71,0,120,0,0,1,0,1,...,0,1,1,0,1,0,0,0,1,1

##### Initialize SVM Model
<a id='model'></a>

##### Train SVM Model on Data
<a id='train'></a>

##### Use Cross-Validation (CV) to Select Model Parameters
<a id='cv'></a>

##### Report Accuracy
<a id='report'></a>